services:
  - type: web
    name: shopeasy-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRY
        value: 7d
      - key: GOOGLE_SHEET_ID
        sync: false
      - key: PAYSTACK_SECRET_KEY
        sync: false
      - key: PAYSTACK_PUBLIC_KEY
        sync: false
      - key: CORS_ORIGIN
        value: "*"
